@font-face{
    font-family: 'Nanum Myeongjo';
    src: url(/웹폰트/NanumMyeongjo.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body{
    height: 100%;
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}


#main{
    padding-right: 500px;
    padding-left: 500px;
    padding-bottom: 250px;
    background-color: black;
}
.sub-visual__image{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: -1000;
}

#sub-visual {
    position: relative;
    width: 100%;
    background-image:
    linear-gradient(
    to top,
      rgba(0, 0, 0, 1)   0%,   /* 맨 아래는 완전 블랙 */
      rgba(0, 0, 0, 1)  30%,   /* 30% 지점까지도 블랙 유지 */
      rgba(0, 0, 0, 0.8) 50%,  /* 50% 지점부터 서서히 투명 시작 */
      rgba(0, 0, 0, 0.5)   70%   /* 80% 지점에는 완전 투명 */
    ),
    url("background.jpg");
background-size: cover;
background-position: center;;
}

.sub_title {
    position: absolute;
    display: flex;
    letter-spacing: 10px;
    margin-left: -10px;
    top: 90%;
    left: 50%;          
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 30px;
    color: white;
    z-index: 10;
}

#faceexample{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.face{
    position: relative;
    width: 150px;
    height: 150px;
    /* border-top: 2px solid white;
    border-bottom: 2px solid white; */
    background-color: yellow;
    margin: 0;
    z-index: 50;
}

.sub-visual__info{
    position: relative;
    height: 150px;
    display: flex;
    font-size: 12px;

    justify-content: space-between;
    background-color: black;
    color: white;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 250px;

}



.b{
    margin-left: auto;
    z-index: 100;
}

.content{
    position: relative;  width: 100%; height: auto;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    grid-template-rows: repeat(3, 50px);
    font-size: 15px;
    background-color: black;
    color: white;
    text-align: left;
    background-image:
    linear-gradient(white, white),   
    linear-gradient(white, white),   
    linear-gradient(white, white),   
    linear-gradient(white, white);   
    background-repeat: no-repeat;
    background-size:
    100% 1.2px,    
    100% 0.5px,    
    100% 0.5px,    
    100% 1.2px;    
    background-position:
    0   0px,     
    0  50px,      
    0 100px,      
    0   bottom;
}


.content > .ga {
    grid-row:    3;
    grid-column: 1;
}

.content > .gb {
    grid-row:    3;
    grid-column: 2;
}

.content > .b {
    grid-column: 3;      
    grid-row: 1;         
    
}

.content > * {
    padding-top: 16px;
    padding-left: 15px;
}


.report-details{
    position: relative;
    background-color: black;
    color: white;
}

.report-evidence{
    position: relative;
    width: 100%;
}
.report-details{margin-top: 100px; font-size: 15px; line-height: 24px;}

.report-details>h2{
    font-size: 15px;
}
.report-details>p{ margin-top: 40px; }

.report-evidence{margin-top: 30px; }

.clue{
    margin-top: 100px;
    position: relative;
    color: white;
    
}

.clue>h2{
    font-size: 15px;
}

.report-evidence>ul{
    margin-top: 40px;
    position: relative;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 40px 40px 60px 60px;
    color: white;
    font-size: 15px;
    line-height: 24px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: solid 1.2px white;
}